body {
    font-family: Arial, sans-serif;
    background-color: #DFDFFF;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #0A2351;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid limegreen;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 11px 12px;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5vw;
    text-decoration: none;
    transition: background-color 0.5s ease;
}

.navbar a:hover {
    background-color: limegreen;
    color: black;
}

.footer {
    background-color: #0A2351;
    overflow: hidden;
    width: 100%;
    padding: 20px;
    color: white;
    text-align: left;
    position: relative;
    bottom: 0;
}

#imagem_fundo {
    height: calc(100vh - 225px);
    background-image: url('imagens/fundo.jpg');
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

#imagem_fundo2 {
    height: calc(100vh - 225px);
    background-image: url('imagens/fundo2.jpg');
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 5px;
}

#imagem_fundoSobre {
    height: calc(100vh - 225px);
    background-image: url('imagens/fundoSobre.jpg');
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 5px;
}

#imagem_fundoProjetos {
    height: calc(100vh - 225px);
    background-image: url('imagens/fundoProjetos.jpg');
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 5px;
}

.slogan {
    text-align: center;
    background-color: limegreen;
    color: rgba(0, 0, 0, 1);
    font-size: 3vw;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
}

.titulo {
    text-align: left;
    color: #0A2351;
    display: inline-block;
    margin-bottom: 35px;
    margin-left: 20px;
    font-weight: bold;
    font-style: italic;
}

.center-container {
    display: flex;
    justify-content: center;
}

.pdf-container {
    display: flex;
    gap: 10%;
}

.pdf-column {
    display: inline-block;
    vertical-align: top;
    width: auto;
    background-color: #0A2351;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.pdf-column a {
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
    display: block;
    transition: background-color 0.5s ease, padding 0.5s ease, border-radius 0.5s ease;
}

.pdf-column a:hover {
    background-color: limegreen;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.slideshow-container {
    display: flex;
    justify-content: center;
}

.slideshow {
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.slideshow img {
    max-width: 100%;
    height: auto;
    border: 2px solid #0A2351;
}

.slideshow-botao {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0A2351;
    color: white;
    border: none;
    padding: 1vw 2vw;
    cursor: pointer;
    border-radius: 5vw;
    transition: background-color 0.5s ease;
    font-size: 1.5vw;
}

.slideshow-botao:hover {
    background-color: limegreen;
    color: black;
}

.slideshow-botao-ant {
    left: 5vw;
}

.slideshow-botao-prox {
    right: 5vw;
}

.legendas {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    background-color: limegreen;
    padding: 5px 10px;
    border-radius: 10px;
    opacity: 0.9;
}

.voltar-botao {
    text-decoration: none;
    margin-left: 20px;
    background-color: #0A2351;
    color: white;
    border: none;
    padding: 1vw 2vw;
    cursor: pointer;
    border-radius: 5vw;
    transition: background-color 0.5s ease;
}

.voltar-botao:hover {
    background-color: limegreen;
    color: black;
}

.codigo-botao {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 15px;
    background-color: #0A2351;
    color: white;
    border: none;
    padding: 1vw 2vw;
    cursor: pointer;
    border-radius: 5vw;
    transition: background-color 0.5s ease;
}

.codigo-botao:hover {
    background-color: limegreen;
    color: black;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}